
body{
  background-color: #FDEEDC;
}
.container{
  display: flex;
  justify-content: center;
}

h1{
  color: #4F0E0E;
  font-family: 'Cormorant Infant', serif;
  font-size: 35px;
  }
h2{
  color: #4F0E0E;
  font-family: 'Cormorant Infant', serif;
  font-size: 27px;
  
}
h3{
  color: #E02401;
  font-family: 'Cormorant Infant', serif;
  font-size: 30px;
  margin-top: 5px;
}
.border{
  border: 6px solid pink;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
.btn{
  background-color: #894949;
  color: #FFEDED ;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  border: none;
  
}
.about{
  color: #B20600;
  background-color: white;
  background-color: #FDEEDC;
}
.side{
  margin: 5px;
  height: 20px;
  align-self: center;
  border: none;
  background-color: #FF9551;
}
button{
  border: none;
  background-color: beige;
  border-radius: 5px;
  font-size: 15px;
  }
  
.par{
  color: #B20600;
  margin-top: 0px;
}
.rt{
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
margin: 0 auto;
}
#slide{
  border: 3px solid #4F0E0E;
  border-radius: 15px;
  align-self: center;
}
.maple{
  border-radius: 20px;
}
#lastbtn{
  margin-top: 15px ;
  margin-bottom: 20px;
  background-color: #FF9551;
  color: #FFEDED ;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}


